{% extends 'base.html' %}

{% block content %}
    <center>
    <h1>Your Tasks</h1>
        <a href="{% url 'task_create' %}">Add Task</a>
        {% for task in tasks %}
            <div>
                <h5>{{ task.title }}</h5>
                <p>{{ task.description }}</p>
            <p>
                <strong>Completed:</strong>
                {% if task.completed %} Yes {% else %} No {% endif %}
            </p>
                <a href="{% url 'task_detail' task.pk %}">View Task</a>
                <a href="{% url 'task_delete' task.pk %}">Delete Task</a>

            </div>
            {% empty %}
            <h3>No task?</h3>
            <a href="{% url 'task_create' %}">Add Task</a>
        {% endfor %}
    </center>

{% endblock %}